body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(46, 45, 44);

    height: 100%;


}

.gridPic{
    height: 100%;
    width: 100%;
    margin-right:25px;
}
.gridItem{
    background-color: beige;
}
.HomeMain {
    

    height: 100%;
    width: 50%;
    float:right;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    
}

.HomeHeader{
    height:25px;
    width:100%;
    vertical-align:top;
    display:inline-block;
    background-color: cadetblue;
}

.bodyContainer {
    height:400px;

}